/* styles/globals.css */
@import "tailwindcss";

/* Custom CSS Variables (Colors) */
:root {
  --background: #f8e2d2;
  --foreground: #171717;
  --text: #0c0805;
  --primary: #e08325;
  --secondary: #B8B8B8;
  --accent: #FF5733;
  --link: #007BFF;
  --hover: #FF4500;
  --border: #CCCCCC;
  --highlight: #FFFF00;
}

/* Dark Mode Customization */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3498db;
    --secondary: #7f8c8d;
  }
}


/* Global Body Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Example Custom Styles */
nav{
  background: var(--background);
}
a {
  color: var(--text);
}
a:hover {
  color: var(--primary);
}

h1{
  size: 2000px;
  
}

.highlight {
  background-color: var(--highlight);
}

/* General Parallax Styling */
.parallax {
  height: 100vh; /* Full-screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background:#007BFF;
}

/* Background Image 1 */
.bg-image-1 {
  background-image: url('/background.jpg'); 
  height: 100vh; /* Full-screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Background Image 2 */
.bg-image-2 {
  background-image: url('/newarrival.jpg'); 
  height: 100vh; /* Full-screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Content Sections */
.content {
  padding: 50px;
  text-align: center;
  background: #F5E1D4;
}
